<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>202점메추AI</title>
        <style>
            body{
                background-image: url('background.jpg');
            }
        </style>
    </head>
    <body>
        <div class="profile-user-img">
            <img src="profile.jpg" style="width:250px; 
            display: block; margin-left: auto; margin-right: auto">    
        </div>

        <h3 style="font-size: 30px; 
        font-family:'Times New Roman'; 
        color:rgb(42, 241, 125); 
        letter-spacing: normal;
        text-align: center">AI 일레이나</h3>

        <p style="text-align: center; margin-right: 20px; font-family: 'Times New Roman'">
            <span style="color: rgb(0, 195, 255);">
                <strong>AI 일레이나: </strong>
            </span>
            안녕하세요! 처음 뵙겠습니다! 저는 당신의 점심을 책임져 드릴 일레이나라고 해요!<br>밑에 당신의 현재 상태에 대해 말해주시면 메뉴를 추천해드릴게요!
            <br><br><button style="font-size: 20px; padding: 15px 30px;" onclick="location.href='chat.html'">점심 메뉴 추천 받으러 가기!</button >
        </p>
        
    </body>
</html>